Repository benjaminrae/get-types: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --write

Add audit, build, sonar and testing workflows
  .github/workflows/audit.yml
  .github/workflows/build.yml
  .github/workflows/sonar.yml
  .github/workflows/testing.yml
Due: none

Add sonar project properties
  sonar-project.properties
Due: none

Add jest and test scripts
  .env
  .github/workflows/audit.yml
  .github/workflows/build.yml
  .github/workflows/sonar.yml
  .github/workflows/testing.yml
  .gitignore
  package.json
  pnpm-lock.yaml
Due: prettier --write

Create base service class with get method
  src/services/Service/Service.ts
  src/services/Service/types.ts
Due: eslint --max-warnings 0, prettier --write

Test Service class instance and get method
  .eslintrc.js
  .gitignore
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/services/Service/Service.test.ts
  tsconfig.json
Due: eslint --max-warnings 0, prettier --write

Create RegistryService and methid getRegistry
  src/services/RegistryService/RegistryService.ts
  src/services/RegistryService/types.ts
Due: eslint --max-warnings 0, prettier --write

Create test for getRegistry method in RegistryService
  src/services/RegistryService/RegistryService.test.ts
  src/services/Service/Service.test.ts
Due: eslint --max-warnings 0, prettier --write

Create getInstalledDependencies method
  src/services/RegistryService/RegistryService.ts
  src/services/RegistryService/types.ts
Due: eslint --max-warnings 0, prettier --write

Add test for getInstalledDependencies with mocks/package.json
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/mocks/mockExpectedDependencies.ts
  src/mocks/package.json
  src/services/RegistryService/RegistryService.test.ts
  src/services/RegistryService/RegistryService.ts
Due: eslint --max-warnings 0, prettier --write

Path conditions:
  eslint --max-warnings 0: any of: *.ts
  prettier --write: any of: *.{ts,js,json}
